@use "../../presets" as *;
@use "../../mixins" as *;

.footer-primary {
  display: flex;

  padding-top: 90px;
  padding-bottom: 95px;

  gap: 140px;
  @include xl {
    gap: 50px;
  }
  @include lg {
    align-items: center;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;

    max-width: 300px;

    gap: 10px;
  }

  &__title {
    margin-bottom: 16px;

    color: #000000;

    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  &__pictures {
    margin-bottom: 17px;
  }

  &__description {
    margin-bottom: 7px;

    color: #000000;

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &__link {
    color: #000000;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 34px;

    &-item {
      display: flex;
      flex-direction: column;

      width: 187px;

      gap: 15px;
    }

    &-title {
      margin-bottom: 9px;

      color: #000000;

      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }

    &-action {
      color: #000000;

      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}
