@use "../../presets" as *;
@use "../../mixins" as *;

.footer-secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 45px;
  padding-bottom: 45px;

  border-top: 1px solid black;

  gap: 20px;
  @include sm {
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__name {
    display: flex;

    gap: 14px;
    @include xxl {
      padding-left: $gap;
    }
    @include sm {
      padding-right: $gap;
    }
  }

  &__name-description {
    max-width: 301px;

    color: #000000;

    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  &__copyright {
    @include xxl {
      padding-right: $gap;
    }
    @include sm {
      padding-right: 0;
    }

    &-text {
      color: #000000;

      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}
