@use "../../presets" as *;
@use "../../mixins" as *;

.footer-primary {
    display: flex;
    gap: 140px;
    padding-top: 90px;
    padding-bottom: 95px;
   

    @include xl {
        gap: 50px;
    }

    @include lg {
        flex-direction: column;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        gap: 10px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    &__pictures {
        margin-bottom: 17px;
    }

    &__image {}

    &__logo {

        &-image {}
    }

    &__description {
        margin-bottom: 7px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

    &__actions {}

    &__link {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }


    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
        justify-content: center;


        &-item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 187px;
        }

        &-title {
            margin-bottom: 9px;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #000000;
        }

        &-action {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #000000;
        }
    }
}