@use "../../../presets" as *;
@use "../../../mixins" as *;

.control-item {
  display: grid;

  margin-bottom: 150px;
  padding-top: 100px;

  gap: $gap;
  @include xl-min {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xl {
    margin-bottom: 50px;
    padding-top: 50px;

    grid-template-columns: 1fr;
  }
  @include md {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.control-item__contant {
  max-width: 520px;

  @include xl {
    margin: auto;
  }
}

.control-item__contant--md {
  @include xl-min {
    margin-left: auto;
  }
}

.control-item__contant-title {
  margin-bottom: 30px;
  padding-top: 107px;

  color: #000000;

  font-size: 50px;
  font-weight: 600;
  line-height: 60px;

  @include xl {
    text-align: center;
  }
  @include sm {
    padding-top: 70px;

    font-size: 40px;
  }
}

.control-item__contant-description {
  margin-bottom: 30px;

  color: #000000;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  @include xl {
    text-align: center;
  }
}

.control-item__contant-actions {
  @include xl {
    margin-bottom: 150px;

    text-align: center;
  }
  @include md {
    margin-bottom: 100px;
  }
  @include sm {
    margin-bottom: 50px;
  }
}

.control-item__contant-link {
  color: #000000;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.control-item__picture {
  display: flex;
  justify-content: center;
}

.control-item__picture--md {
  @include xl-min {
    order: -1;
  }
}

.control-item__image {
  // !ширина картинки
  width: 100%;

  @include xl {
    width: 80%;
  }
  @include sm {
    width: 90%;
  }
}
