@use "../../../presets" as *;
@use "../../../mixins" as *;

.apps {
  margin-top: 50px;

  background-color: #fff8e4;

  @include xl {
    margin-top: 150px;
  }
  @include sm-min {
    padding-top: 80px;
    padding-bottom: 148px;
  }
  @include sm {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  &-title {
    margin-bottom: 75px;

    text-align: center;

    color: #000000;

    font-weight: 600;
    line-height: 60px;

    @include sm-min {
      font-size: 50px;
    }
    @include sm {
      font-size: 40px;
    }
  }
}
