@use "../../../presets" as *;
@use "../../../mixins" as *;

.teams-box {
  display: grid;

  gap: $gap;
  @include lg-min {
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg {
    gap: 70px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    gap: $gap * 4;
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include sm {
      align-items: center;
    }
    @include sm {
      text-align: center;
    }



    &-title {
      margin-bottom: 34px;

      color: #000000;

      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
    }

    &-picture {
      order: -1;

      min-height: 201px;
      margin-bottom: 36px;
    }



    &-description {
      margin-bottom: 25px;

      color: #000000;

      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }



    &-link {
      color: #000000;

      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      /* identical to box height, or 150% */

      text-decoration-line: underline;
    }
  }
}
