@use "../../../presets" as *;
@use "../../../mixins" as *;

.made {
background-color: #ff9c7d;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 155px;
@include lg {
        padding-top: 45px;
        padding-bottom: 110px;
    }

        @include sm {
            padding-top: 12px;
            padding-bottom: 70px;
        }
        
    }

    &__title {
            margin-bottom: 30px;
        max-width: 785px;
        font-weight: 600;
            font-size: 65px;
            line-height: 75px;
            text-align: center;
            color: #000000;

            @include sm {
                font-size: 45px;
            }
    }

    &__description {
        margin-bottom: 54px;
        font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000000;
    }

    &__actions {}

}










