@use "../../../presets" as *;
@use "../../../mixins" as *;


.face {
    background-color: #c9e8f2;


    &-container {

        display: flex;
        gap: 85px;

        padding-top: 55px;
        padding-bottom: 105px;

        @include lg {
            flex-direction: column-reverse;
            align-items: center;
        }

        @include sm {
            gap: 35px;
            padding-bottom: 50px;
        }

    }

    &-content {
        max-width: 920px;

        &__description {
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            color: #000000;
            padding-bottom: 25px;
        }


        &__name {
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
            padding-bottom: 7px;
        }

        &__logo {}

        &__image {}



    }

    &-picture {

        &__image {}

    }


}