@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  // *1 способ линии
  // border-bottom: 1px solid $color-gray;
  // *2 способ линии
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: $gap;
  padding-bottom: $gap;

  gap: $gap;
  @include md {
    justify-content: center;
  }

  // !смотри еще свойство в htm (overflow-x: hidden;)
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100vw;
    height: 1px;
    margin-left: -50vw;

    content: "";

    background-color: $color-gray;
  }

  &__logo {
    // отступ справа от логотипа
    padding-right: $gap-sm;
  }

  &__actions {
    // сдвигает кнопки в право
    margin-left: auto;
  }
}
