@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: grid;
  // !центрирует по высоте

  margin-top: auto;
  margin-bottom: auto;
  padding-top: $gap * 2;
  padding-bottom: $gap * 2;
  // !все что выше 1200px

  @include xl-min {
    grid-template-areas: "ttl pic"
    "dsc pic"
    "act pic"
    "nts pic";
    //  !задаем размер левая (текст) и правая сторона (картинка)
    grid-template-columns: 580px 1fr;
  }
  @include xl-lg {
    grid-template-areas: "ttl pic"
    "dsc pic"
    "act pic"
    "nts pic";
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    // !ставит по центру
    text-align: center;

    grid-template-areas: "ttl"
    "dsc"
    "pic"
    "act"
    "nts";
  }
  // отступы по строкам
  row-gap: $gap;

  &__title {
    margin: 0;

    font-weight: 600;
    line-height: 70px;

    grid-area: ttl;
    @include sm-min {
      font-size: 65px;
    }
    @include sm {
      font-size: 45px;
    }
  }

  &__description {
    line-height: 35px;

    grid-area: dsc;
    @include xl-min {
      padding-right: 70px;
    }
    @include xl-lg {
      padding-right: 20px;
    }
    @include sm-min {
      font-size: 25px;
    }
    @include sm {
      font-size: 20px;
    }
  }

  &__actions {
    display: flex;

    gap: $gap-sm;
    grid-area: act;
    @include lg {
      justify-content: center;
    }
  }

  &__notes {
    font-size: 15px;
    line-height: 25px;

    grid-area: nts;
  }

  &__pictures {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: pic;
  }

  &__image {
    @include lg-min {
      // !ширина картинки
      width: 100%;
    }
    @include lg-md {
      width: 60%;
    }
    @include md {
      width: 80%;
    }
  }
}
