@use "../presets" as*;
@use "../mixins" as*;

// *classes - классы

.container {
    max-width: $ul;
    padding-left: $gap;
    padding-right: $gap;
    // чтобы контейнер стал по середине
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
}

.btn--light {
    border-color: $color-gray;
}

.btn--accent {
    background-color: $color-accent-orange;
    border-color: $color-accent-orange;
}

.btn--sm {
    min-width: 120px;
    height: 45px;
}