// *typography - типография
// *все что касается оформления текста

@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // размер для просчета отступов 
    font-size: 16px;
}

body {
    font-family: "Graphik LCG", sans-serif;
    // размер текста по умолчанию
    font-size: 15px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $color-black;
}